DATABASE_URL=sqlite:///./data/employees.db

JWT_SECRET=change-this-to-a-random-secret-key-in-production
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080

APP_NAME=Employee Management System

SENDGRID_API_KEY =change-this-to-your-sendgrid-api-key
SENDGRID_FROM_EMAIL=your-demo-email@gmail.com
SENDGRID_FROM_NAME=your-demo-email@gmail.com
FRONTEND_URL=http://localhost:3000